/* =============== ROOT CSS CODE =============== */
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* =============== HEADER CSS CODE =============== */
header {
  width: auto;
  padding: 0px 60px;
  height: auto;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9ff;
}
header .logo {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}
header .logo img {
  width: 80px;
  height: auto;
}
header .logo .heading {
  color: #e8b6ff;
  font-size: 32px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
header nav ul li {
  list-style: none;
  border: 1px solid rgb(5, 30, 81);
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
}
header nav ul li:hover {
  background-color: #e8b6ff;
  border: 1px solid #e8b6ff;
  scale: 110%;
  box-shadow: 0px 6px 10px 0px rgba(123, 178, 255, 0.543);
  border-radius: 4px;
}
header nav ul li:hover a {
  color: white;
}

.hero {
  width: auto;
  background-color: #f9f9ff;
  display: flex;
  padding: 60px 140px;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.hero .left {
  height: auto;
  width: 44%;
}
.hero .left .smallIntro {
  font-size: 14px;
  color: #0094ff;
}
.hero .left .introName {
  font-size: 42px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 48px;
}
.hero .left .shortBio {
  font-size: 14px;
  color: #777777;
}
.hero .left .hireMeBtn {
  background: linear-gradient(to left, #c5bcff, #bd7cff);
  padding: 12px 32px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 32px;
}
.hero .left .hireMeBtn:hover {
  box-shadow: 4px 8px 8px 0px rgba(140, 134, 255, 0.4);
  scale: 110%;
  border-radius: 4px;
}
.hero .right {
  height: auto;
  width: 44%;
}
.hero .right img {
  width: 100%;
  height: 100%;
}

.bioData {
  padding: 60px 140px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 14px;
}
.bioData .left {
  width: 45%;
  height: auto;
}
.bioData .left .image {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.bioData .left .image img {
  height: auto;
  width: 90%;
  z-index: 2;
  margin-left: 40px;
}
.bioData .left .image div {
  position: absolute;
  top: -30px;
  left: 10px;
  background: #b24fff;
  height: 100%;
  width: 90%;
  z-index: 1;
}
.bioData .right {
  width: 45%;
  height: 100%;
  margin-top: -30px;
}
.bioData .right .bioInfo {
  color: #777777;
  text-align: justify;
  margin-top: 20px;
  font-size: 16px;
}
.bioData .right .bio-data-skills {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bioData .right .bio-data-skills .bio-skill h3 {
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #000;
  line-height: 4px;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar {
  background-color: #fff3f3;
  border-radius: 50px;
  width: 100%;
  height: 0.5rem;
  position: relative;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar span {
  position: absolute;
  top: 1.3rem;
  height: 1.6rem;
  width: 3.4rem;
  color: white;
  background: linear-gradient(to right, #e8b6ff, #e8b6ff);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.8rem solid white;
  border-color: transparent;
  border-bottom-color: #e8b6ff;
  top: -1.4rem;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  border-radius: 50px;
  background: linear-gradient(to right, #e8b6ff, #e8b6ff);
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-1::before {
  width: 35%;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-1 span {
  left: calc(35% - 1.8rem);
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-2::before {
  width: 90%;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-2 span {
  left: calc(90% - 1.8rem);
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-3::before {
  width: 85%;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-3 span {
  left: calc(85% - 1.8rem);
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-4::before {
  width: 70%;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-4 span {
  left: calc(70% - 1.8rem);
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-5::before {
  width: 78%;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-5 span {
  left: calc(78% - 1.8rem);
}
.bioData .right .downloadCv {
  background: linear-gradient(to left, #c5bcff, #bd7cff);
  padding: 12px 32px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 48px;
}
.bioData .right .downloadCv:hover {
  box-shadow: 4px 8px 8px 0px rgba(140, 134, 255, 0.4);
  scale: 110%;
  border-radius: 4px;
}

.commonHeading {
  font-weight: 600;
  font-size: 38px;
  font-family: "Inter", sans-serif;
  color: black;
  position: relative;
}

.commonHeading::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #d06dff;
}

.commonHeading::after {
  content: "";
  position: absolute;
  top: 123%;
  left: 0.1rem;
  height: 0.3rem;
  width: 12rem;
  border-radius: 10px;
  background-color: #d06dff;
}

.portfolio {
  padding: 60px 140px;
  background-color: #f9f9ff;
}
.portfolio p {
  color: #777777;
  width: 55%;
  font-size: 16px;
  margin-top: 50px;
}
.portfolio .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 60px auto;
}
.portfolio .buttons button {
  background: linear-gradient(to left, #c5bcff, #bd7cff);
  padding: 12px 32px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.portfolio .buttons #btn1 {
  box-shadow: 0px 8px 14px 4px rgba(140, 134, 255, 0.4);
  transform: translateY(-8px);
}
.portfolio .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  width: 100%;
}
.portfolio .images .image {
  width: auto;
}
.portfolio .images .image img {
  width: 100%;
  height: 100%;
}

.section-work-data {
  padding: 60px 140px;
  background: linear-gradient(to bottom, #DC91FF, #C447FF);
}
.section-work-data .numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 18px;
  color: white;
}
.section-work-data .numbers .numberDiv {
  text-align: center;
  padding: 40px 0px;
}
.section-work-data .numbers .numberDiv h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 0px;
}
.section-work-data .numbers .numberDiv p {
  font-size: 20px;
  font-weight: 400;
}

.section-services {
  padding: 60px 140px;
}
.section-services .service-container .services-text p {
  color: #777777;
  width: 55%;
  font-size: 16px;
  margin-top: 50px;
}
.section-services .service-container .servicesDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.section-services .service-container .servicesDiv .service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 40px 12px;
  box-shadow: 2px 4px 8px 0px rgba(67, 5, 90, 0.3);
  border-radius: 8px;
}
.section-services .service-container .servicesDiv .service-item img {
  height: 45px;
  width: 45px;
  background-color: #d1b8b8;
  border-radius: 50px;
}
.section-services .service-container .servicesDiv .service-item h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 0px;
}
.section-services .service-container .servicesDiv .service-item p {
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  color: #777777;
}

.testimonial {
  padding: 60px 140px;
  background-color: #f9f9ff;
}
.testimonial .swiper {
  width: 100%;
  height: 100%;
  margin-top: 6cqh;
}

.swiper-slide {
  padding: 0px 0px;
}
.swiper-slide .mainContainer {
  border-radius: 12px;
  box-shadow: 0px 6px 20px 2px rgba(206, 211, 255, 0.431372549);
  background-color: #fff;
  padding: 40px 70px;
  position: relative;
  margin: 0px 18px;
}
.swiper-slide .mainContainer img {
  height: 50px;
  width: 50px;
}
.swiper-slide .mainContainer #img1 {
  position: absolute;
  top: 10px;
  left: 1rem;
}
.swiper-slide .mainContainer #img2 {
  position: absolute;
  bottom: 10px;
  right: 1.4rem;
  transform: rotate(180deg);
}
.swiper-slide .mainContainer p {
  color: #777777;
}
.swiper-slide .mainContainer::before {
  content: "";
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  border: 3rem solid white;
  border-color: transparent;
  border-top-color: rgb(241, 236, 250);
}
.swiper-slide .testimonial-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.swiper-slide .testimonial-detail figure {
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: center;
}
.swiper-slide .testimonial-detail figure img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: 4px solid blue;
}
.swiper-slide .testimonial-detail .details {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-left: 40px;
  flex-direction: column;
  gap: 0px;
  height: 50px;
  margin-top: 20px;
}
.swiper-slide .testimonial-detail .details p {
  line-height: 0px;
  font-size: 16px;
  color: #777777;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-freelancing {
  padding: 60px 140px;
  background: url("../images/bgparallaz.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  transition: all 0.7s linear;
  text-align: center;
  position: relative;
}
.section-freelancing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #3964ff;
  opacity: 0.7;
  transform: translateY(0%);
}
.section-freelancing .container {
  position: relative;
}
.section-freelancing .container h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 0px;
  font-family: "Inria Sans", sans-serif;
  color: white;
}
.section-freelancing .container h2 span {
  color: #a0f669;
}
.section-freelancing .container p {
  margin-bottom: 50px;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.section-freelancing .container a {
  background: linear-gradient(to left, #c5bcff, #bd7cff);
  padding: 12px 32px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}