/* =============== ROOT CSS CODE =============== */
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.section {
  padding: 60px 140px;
}
@media (max-width: 1200px) {
  .section {
    padding: 50px 100px;
  }
}
@media (max-width: 960px) {
  .section {
    padding: 40px 60px;
  }
}
@media (max-width: 720px) {
  .section {
    padding: 40px 40px;
  }
}
@media (max-width: 480px) {
  .section {
    padding: 30px 20px;
  }
}
@media (max-width: 0px) {
  .section {
    padding: 20px 10px;
  }
}

/* =============== HEADER CSS CODE =============== */
.active {
  display: flex;
}

.hidden {
  display: none;
}

@keyframes slideIn {
  0% {
    left: 1000px;
  }
  100% {
    left: 0px;
  }
}
header {
  width: auto;
  padding: 12px 60px;
  height: auto;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9ff;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 1200px) {
  header {
    padding: 8px 55px;
  }
}
@media (max-width: 960px) {
  header {
    padding: 8px 40px;
  }
}
@media (max-width: 720px) {
  header {
    padding: 8px 28px;
  }
}
@media (max-width: 480px) {
  header {
    padding: 6px 20px;
  }
}
header .logo {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1200px) {
  header .logo {
    gap: 8px;
  }
}
@media (max-width: 720px) {
  header .logo {
    gap: 4px;
  }
}
@media (max-width: 480px) {
  header .logo {
    gap: 2px;
  }
}
header .logo img {
  width: 80px;
  height: auto;
}
@media (max-width: 720px) {
  header .logo img {
    width: 60px;
  }
}
header .logo .heading {
  color: #e8b6ff;
  font-size: 32px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
@media (max-width: 1200px) {
  header .logo .heading {
    font-size: 26px;
  }
}
@media (max-width: 720px) {
  header .logo .heading {
    font-size: 22px;
  }
}
header nav {
  display: block;
}
@media (max-width: 960px) {
  header nav {
    display: none;
  }
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
@media (max-width: 1200px) {
  header nav ul {
    gap: 12px;
  }
}
header nav ul li {
  list-style: none;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 1200px) {
  header nav ul li {
    padding: 6px 12px;
  }
}
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
}
header nav ul li:hover {
  background-color: #e8b6ff;
  box-shadow: 0px 6px 10px 0px rgba(123, 178, 255, 0.543);
  border-radius: 4px;
}
header nav ul li:hover a {
  color: white;
}
header .hamburgerMenu {
  display: none;
}
@media only screen and (min-width: 961px) {
  header .hamburgerMenu {
    display: none !important;
  }
}
@media (max-width: 960px) {
  header .hamburgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
}
header .hamburgerMenu div {
  height: 3px;
  width: 34px;
  background: black;
  border-radius: 50px;
}
@media (max-width: 480px) {
  header .hamburgerMenu div {
    height: 2px;
    width: 30px;
  }
}
header #closeIcon {
  display: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
@media only screen and (min-width: 961px) {
  header #closeIcon {
    display: none !important;
  }
}
header #closeIcon #div1 {
  transform: rotate(45deg);
}
header #closeIcon #div2 {
  transform: rotate(-45deg);
  translate: 0px -2.5px;
}
header #closeIcon div {
  height: 3px;
  width: 34px;
  background: black;
  border-radius: 50px;
}
@media (max-width: 480px) {
  header #closeIcon div {
    height: 2px;
    width: 30px;
    translate: 0px -0.8px;
  }
}
header .mobileMenu {
  position: absolute;
  top: 70px;
  left: 2000px;
  width: 100%;
  background-color: #9176ff;
  color: white;
  transition: all 0.4s ease-in-out;
  z-index: 10;
}
@media only screen and (min-width: 961px) {
  header .mobileMenu {
    display: none !important;
  }
}
@media (max-width: 720px) {
  header .mobileMenu {
    top: 54px;
  }
}
header .mobileMenu ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0px;
  padding: 24px 30px;
  padding-bottom: 40px;
  font-size: 16px;
}
header .mobileMenu ul li {
  list-style: none;
  border-bottom: 1px solid white;
  padding: 6px 2px;
}
header .mobileMenu ul li a {
  text-decoration: none;
  color: white;
}

.hero {
  width: auto;
  background-color: #f9f9ff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
@media (max-width: 720px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
.hero .left {
  height: auto;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 720px) {
  .hero .left {
    order: 2;
  }
}
.hero .left .smallIntro {
  font-size: 14px;
  color: #0094ff;
}
.hero .left .introName {
  font-size: 42px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 48px;
}
@media (max-width: 960px) {
  .hero .left .introName {
    font-size: 32px;
  }
}
@media (max-width: 720px) {
  .hero .left .introName {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .hero .left .introName {
    font-size: 24px;
  }
}
.hero .left .shortBio {
  font-size: 14px;
  color: #777777;
}
.hero .left .hireMeBtn {
  background: linear-gradient(to left, #c5bcff, #bd7cff);
  padding: 12px 32px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 32px;
}
@media (max-width: 720px) {
  .hero .left .hireMeBtn {
    padding: 10px 26px;
    font-size: 14px;
  }
}
.hero .left .hireMeBtn:hover {
  box-shadow: 4px 8px 8px 0px rgba(140, 134, 255, 0.4);
  scale: 110%;
  border-radius: 4px;
}
.hero .right {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 720px) {
  .hero .right {
    order: 1;
  }
}
.hero .right img {
  width: 100%;
  height: auto;
}

.bioData {
  background: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}
@media (max-width: 960px) {
  .bioData {
    grid-template-columns: 1fr;
  }
}
.bioData .left {
  width: 100%;
  height: auto;
  padding: 40px 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 12px;
}
@media (max-width: 960px) {
  .bioData .left {
    order: 2;
  }
}
.bioData .left .image {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 960px) {
  .bioData .left .image {
    width: 80%;
    margin: 0px auto;
  }
}
@media (max-width: 720px) {
  .bioData .left .image {
    width: 90%;
  }
}
.bioData .left .image img {
  width: 90%;
  z-index: 2;
  margin-left: 40px;
}
.bioData .left .image div {
  position: absolute;
  top: -30px;
  left: 10px;
  background: #b24fff;
  height: 100%;
  width: 90%;
  z-index: 1;
}
.bioData .right {
  width: 100%;
  height: 100%;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 960px) {
  .bioData .right {
    order: 1;
  }
}
.bioData .right .bioInfo {
  color: #777777;
  text-align: justify;
  margin-top: 20px;
  font-size: 16px;
}
.bioData .right .bio-data-skills {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bioData .right .bio-data-skills .bio-skill h3 {
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #000;
  line-height: 4px;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar {
  background-color: #fff3f3;
  border-radius: 50px;
  width: 100%;
  height: 0.5rem;
  position: relative;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar span {
  position: absolute;
  top: 1.3rem;
  height: 1.6rem;
  width: 3.4rem;
  color: white;
  background: linear-gradient(to right, #e8b6ff, #e8b6ff);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.8rem solid white;
  border-color: transparent;
  border-bottom-color: #e8b6ff;
  top: -1.4rem;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  border-radius: 50px;
  background: linear-gradient(to right, #e8b6ff, #e8b6ff);
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-1::before {
  width: 35%;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-1 span {
  left: calc(35% - 1.8rem);
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-2::before {
  width: 90%;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-2 span {
  left: calc(90% - 1.8rem);
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-3::before {
  width: 85%;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-3 span {
  left: calc(85% - 1.8rem);
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-4::before {
  width: 70%;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-4 span {
  left: calc(70% - 1.8rem);
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-5::before {
  width: 78%;
}
.bioData .right .bio-data-skills .bio-skill .bio-progress-bar-5 span {
  left: calc(78% - 1.8rem);
}
.bioData .right .downloadCv {
  background: linear-gradient(to left, #c5bcff, #bd7cff);
  padding: 12px 32px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 48px;
  width: 200px;
}
@media (max-width: 720px) {
  .bioData .right .downloadCv {
    padding: 10px 26px;
    font-size: 14px;
  }
}
.bioData .right .downloadCv:hover {
  box-shadow: 4px 8px 8px 0px rgba(140, 134, 255, 0.4);
  scale: 110%;
  border-radius: 4px;
}

.commonHeading {
  font-weight: 600;
  font-size: 38px;
  font-family: "Inter", sans-serif;
  color: black;
  position: relative;
}
@media (max-width: 720px) {
  .commonHeading {
    font-size: 32px;
  }
}
.commonHeading::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #d06dff;
}
.commonHeading::after {
  content: "";
  position: absolute;
  top: 123%;
  left: 0.1rem;
  height: 0.3rem;
  width: 12rem;
  border-radius: 10px;
  background-color: #d06dff;
}
@media (max-width: 720px) {
  .commonHeading::after {
    width: 10rem;
    top: 126%;
  }
}

.portfolio {
  background-color: #f9f9ff;
}
.portfolio p {
  color: #777777;
  width: 55%;
  font-size: 16px;
  margin-top: 50px;
}
@media (max-width: 720px) {
  .portfolio p {
    width: 90%;
  }
}
.portfolio .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 60px auto;
  flex-wrap: wrap;
}
@media (max-width: 720px) {
  .portfolio .buttons {
    gap: 12px;
  }
}
@media (max-width: 480px) {
  .portfolio .buttons {
    justify-content: start;
    gap: 18px;
  }
}
.portfolio .buttons button {
  background: linear-gradient(to left, #c5bcff, #bd7cff);
  padding: 12px 32px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 720px) {
  .portfolio .buttons button {
    padding: 10px 26px;
    font-size: 14px;
  }
}
.portfolio .buttons #btn1 {
  box-shadow: 0px 8px 14px 4px rgba(140, 134, 255, 0.4);
  transform: translateY(-8px);
}
.portfolio .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  width: 100%;
}
@media (max-width: 720px) {
  .portfolio .images {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .portfolio .images {
    grid-template-columns: repeat(1, 1fr);
  }
}
.portfolio .images .image {
  width: auto;
}
.portfolio .images .image img {
  width: 100%;
  height: 100%;
}

.section-work-data {
  background: linear-gradient(to bottom, #DC91FF, #C447FF);
}
.section-work-data .numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 18px;
  color: white;
  padding: 0px 20px;
}
@media (max-width: 960px) {
  .section-work-data .numbers {
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.section-work-data .numbers .numberDiv {
  text-align: center;
  padding: 40px 0px;
}
.section-work-data .numbers .numberDiv h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 0px;
}
@media (max-width: 720px) {
  .section-work-data .numbers .numberDiv h2 {
    font-size: 24px;
  }
}
.section-work-data .numbers .numberDiv p {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 720px) {
  .section-work-data .numbers .numberDiv p {
    font-size: 18px;
  }
}

.section-services .service-container .services-text p {
  color: #777777;
  width: 55%;
  font-size: 16px;
  margin-top: 50px;
}
@media (max-width: 720px) {
  .section-services .service-container .services-text p {
    width: 90%;
  }
}
.section-services .service-container .servicesDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 960px) {
  .section-services .service-container .servicesDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 720px) {
  .section-services .service-container .servicesDiv {
    grid-template-columns: repeat(1, 1fr);
  }
}
.section-services .service-container .servicesDiv .service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 40px 12px;
  box-shadow: 2px 4px 8px 0px rgba(67, 5, 90, 0.3);
  border-radius: 8px;
}
@media (max-width: 720px) {
  .section-services .service-container .servicesDiv .service-item {
    padding: 20px 12px;
  }
}
.section-services .service-container .servicesDiv .service-item img {
  height: 45px;
  width: 45px;
  background-color: #d1b8b8;
  border-radius: 50px;
}
.section-services .service-container .servicesDiv .service-item h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 0px;
}
@media (max-width: 480px) {
  .section-services .service-container .servicesDiv .service-item h3 {
    font-size: 18px;
  }
}
.section-services .service-container .servicesDiv .service-item p {
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  color: #777777;
}
@media (max-width: 480px) {
  .section-services .service-container .servicesDiv .service-item p {
    font-size: 14px;
  }
}

.testimonial {
  background-color: #f9f9ff;
}
.testimonial .swiper {
  width: 100%;
  height: 100%;
  margin-top: 4em;
}

.swiper-slide {
  padding: 40px 0px;
}
.swiper-slide .mainContainer {
  border-radius: 12px;
  box-shadow: 0px 6px 20px 2px rgba(206, 211, 255, 0.431372549);
  background-color: #fff;
  padding: 40px 70px;
  position: relative;
  margin: 0px 18px;
}
@media (max-width: 720px) {
  .swiper-slide .mainContainer {
    padding: 40px 50px;
  }
}
.swiper-slide .mainContainer img {
  height: 50px;
  width: 50px;
}
.swiper-slide .mainContainer #img1 {
  position: absolute;
  top: 10px;
  left: 1rem;
}
@media (max-width: 720px) {
  .swiper-slide .mainContainer #img1 {
    top: 1px;
    left: 0.8rem;
  }
}
.swiper-slide .mainContainer #img2 {
  position: absolute;
  bottom: 10px;
  right: 1.4rem;
  transform: rotate(180deg);
}
@media (max-width: 720px) {
  .swiper-slide .mainContainer #img2 {
    bottom: 8px;
    right: 1rem;
  }
}
.swiper-slide .mainContainer p {
  color: #777777;
  font-size: 16px;
}
@media (max-width: 720px) {
  .swiper-slide .mainContainer p {
    font-size: 14px;
    text-align: left;
  }
}
.swiper-slide .mainContainer::before {
  content: "";
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  border: 3rem solid white;
  border-color: transparent;
  border-top-color: rgb(241, 236, 250);
}
.swiper-slide .testimonial-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.swiper-slide .testimonial-detail figure {
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: center;
}
.swiper-slide .testimonial-detail figure img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: 4px solid blue;
}
.swiper-slide .testimonial-detail .details {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-left: 40px;
  flex-direction: column;
  gap: 0px;
  height: 50px;
  margin-top: 20px;
}
.swiper-slide .testimonial-detail .details p {
  line-height: 0px;
  font-size: 16px;
  color: #777777;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-freelancing {
  background: url("../images/bgparallaz.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: all 0.7s linear;
  text-align: center;
  position: relative;
  background-size: cover;
}
.section-freelancing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #3964ff;
  opacity: 0.7;
  transform: translateY(0%);
}
.section-freelancing .container {
  position: relative;
}
.section-freelancing .container h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 0px;
  font-family: "Inria Sans", sans-serif;
  color: white;
}
@media (max-width: 960px) {
  .section-freelancing .container h2 {
    font-size: 32px;
  }
}
.section-freelancing .container h2 p {
  font-size: 48px;
  display: inline-block;
  color: #a0f669;
}
@media (max-width: 960px) {
  .section-freelancing .container h2 p {
    font-size: 32px;
  }
}
.section-freelancing .container p {
  margin-bottom: 50px;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 960px) {
  .section-freelancing .container p {
    font-size: 14px;
  }
}
.section-freelancing .container a {
  background: linear-gradient(to left, #c5bcff, #bd7cff);
  padding: 12px 32px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}
@media (max-width: 720px) {
  .section-freelancing .container a {
    padding: 10px 26px;
    font-size: 14px;
  }
}

.section-contact-us .sectionContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 1200px) {
  .section-contact-us .sectionContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
.section-contact-us .sectionContainer .map {
  width: 100%;
}
.section-contact-us .sectionContainer form {
  padding: 0px 0px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: "Inria Sans", sans-serif;
}
@media (max-width: 720px) {
  .section-contact-us .sectionContainer form {
    padding: 0px 0px;
    width: 100%;
  }
}
.section-contact-us .sectionContainer form .form-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
.section-contact-us .sectionContainer form .formGroup {
  width: 100%;
  display: flex;
}
.section-contact-us .sectionContainer form .formGroup input,
.section-contact-us .sectionContainer form .formGroup textarea {
  padding: 0.8rem 2rem;
  border: 0.1rem solid #d9d9d9;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  color: #01186e;
}
.section-contact-us .sectionContainer form .formGroup input:focus,
.section-contact-us .sectionContainer form .formGroup textarea:focus {
  outline: 0.1rem solid #760dff;
}
.section-contact-us .sectionContainer form button {
  background: linear-gradient(to left, #c5bcff, #bd7cff);
  padding: 12px 32px;
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 220px;
  text-transform: uppercase;
  font: 800;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
@media (max-width: 720px) {
  .section-contact-us .sectionContainer form button {
    padding: 10px 26px;
    font-size: 14px;
  }
}

.footer {
  background: #000939;
  color: white;
}
.footer .grid-four-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media (max-width: 960px) {
  .footer .grid-four-column {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .footer .grid-four-column {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer .grid-four-column .f-about p {
  color: #959595;
}
.footer .grid-four-column .f-links ul {
  padding: 0px;
}
.footer .grid-four-column .f-links ul li {
  list-style: none;
  align-self: flex-start;
}
.footer .grid-four-column .f-links ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}
.footer .grid-four-column .f-links ul li::before {
  content: "->";
}
.footer .grid-four-column .f-services ul {
  padding: 0px;
}
.footer .grid-four-column .f-services ul li {
  list-style: none;
  align-self: flex-start;
}
.footer .grid-four-column .f-services ul li a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}
.footer .grid-four-column .f-services ul li::before {
  content: "->";
}
.footer .grid-four-column .f-address address div p span a {
  text-decoration: none;
  color: white;
  font-style: italic;
}
.footer .f-rights {
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .container .f-social-icons {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
@media (max-width: 480px) {
  .footer .container .f-social-icons {
    gap: 24px;
  }
}
.footer .container .f-social-icons a img {
  width: 40px;
  height: 40px;
}