.section-contact-us {
  .sectionContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include xl {
      grid-template-columns: repeat(1, 1fr);
    }

    .map {
      width: 100%;
    }

    form {
      // border: 2px solid black;
      padding: 0px 0px;
      width: 100%;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      font-family: $secondary-font;

      @include md {
        padding: 0px 0px;
        width: 100%;
      }

      .form-two-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
      }

      .formGroup {
        // border: 1px solid blue;
        width: 100%;
        display: flex;

        input,
        textarea {
          padding: 0.8rem 2rem;
          border: 0.1rem solid #d9d9d9;
          border-radius: 5px;
          font-size: 1rem;
          width: 100%;
          color: #01186e;
        }

        input:focus,
        textarea:focus {
          outline: 0.1rem solid #760dff;
        }
      }
      button {
        @include btn(8px);
        width: 220px;
        text-transform: uppercase;
        font: 800;
        font-family: $primary-font;
        font-size: 20px;
      }
    }
  }
}
