.section-work-data {
  background: $bg-gradient;

  .numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 18px;
    color: white;

    @include md {
      gap: 12px;
      grid-template-columns: repeat(2, 1fr);
    }

    .numberDiv {
      text-align: center;
      padding: 40px 0px;

      h2 {
        font-weight: 400;
        font-size: 28px;
        line-height: 0px;

        @include md {
          font-size: 24px;
        }
      }

      p {
        font-size: 20px;
        font-weight: 400;
        @include md {
          font-size: 18px;
        }
      }
    }
  }
}
