.section-freelancing {
  padding: $section-padding;
  background: url("../images/bgparallaz.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  transition: all 0.7s linear;
  text-align: center;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #3964ff;
    opacity: 0.7;
    transform: translateY(0%);
  }

  .container {
    position: relative;

    h2 {
      font-size: 48px;
      font-weight: 400;
      line-height: 0px;
      font-family: $secondary-font;
      color: white;

      span {
        color: #a0f669;
      }
    }
    p {
      margin-bottom: 50px;
      color: white;
      font-size: 16px;
      font-family: $primary-font;
    }

    a {
      @include btn(0px);
      text-decoration: none;
      margin-top: 20px;
    }
  }
}
