/* =============== HEADER CSS CODE =============== */
header {
  width: auto;
  padding: 0px 60px;
  height: auto;
  font-family: $primary-font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary-color;

  .logo {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 12px;

    @include xl {
      gap: 8px;
    }

    img {
      width: 80px;
      height: auto;
    }

    .heading {
      color: #e8b6ff;
      font-size: 32px;
      font-weight: 400;
      font-family: $primary-font;

      @include xl {
        font-size: 28px;
      }
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;

      @include xl {
        gap: 12px;
      }

      li {
        list-style: none;
        border: 1px solid rgb(5, 30, 81);
        padding: 10px 20px;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        @include xl {
          padding: 6px 12px;
        }

        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 18px;
          color: $header-color;
        }
      }

      li:hover {
        background-color: #e8b6ff;
        border: 1px solid #e8b6ff;
        scale: 110%;
        box-shadow: 0px 6px 10px 0px rgba(123, 178, 255, 0.543);
        border-radius: 4px;

        a {
          color: white;
        }
      }
    }
  }
}
