@import "button";

.hero {
  // border: 1px solid black;
  width: auto;
  background-color: $primary-color;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  // flex-wrap: wrap;

  @include md {
    grid-template-columns: 1fr;
  }

  .left {
    // border: 1px solid black;
    height: auto;
    // width: 44%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    @include md {
      order: 2;
    }

    .smallIntro {
      font-size: 14px;
      color: #0094ff;
    }

    .introName {
      font-size: 42px;
      color: #000000;
      font-weight: 700;
      letter-spacing: 0px;
      line-height: 48px;

      @include lg {
        font-size: 32px;
      }

      @include md {
        font-size: 28px;
      }

      @include sm {
        font-size: 24px;
      }
    }

    .shortBio {
      font-size: 14px;
      color: $secondary-color;
    }

    .hireMeBtn {
      @include btn(0px);
      margin-top: 32px;
    }

    .hireMeBtn:hover {
      box-shadow: 4px 8px 8px 0px rgba(140, 134, 255, 0.4);
      scale: 110%;
      border-radius: 4px;
    }
  }

  .right {
    // border: 1px solid black;
    height: auto;
    // width: 44%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
      order: 1;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
