$primary-font: "Inter", sans-serif;
$primary-color: #f9f9ff;
$header-color: #000000;
$secondary-color: #777777;
$secondary-light: #818181;
$placeholder-color: #a2a2a2;
$linear-gradient-color: linear-gradient(to right, #e8b6ff, #e8b6ff);
$button-gradient: linear-gradient(to left, #C5BCFF, #bd7cff);