@import "variables";

/* =============== ROOT CSS CODE =============== */
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $primary-font;
}

// ========== All the codes of all the sections of the website is imported from respective scss files here...==========
@import "header";
@import "hero";
@import "button";
@import "biodata";
@import "myheading";
@import "portfolio";
@import "counts";
@import "services";
@import "testimonial";
@import "freelancing";
@import "contact";
@import "footer";
